body 
{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}
.tables-app
{
    width: 90%;
    height: auto;
    margin: auto;
}
.tables-app h1 
{
    text-align: center;
    color: blue;
    font-size: 38px;
}
.tables-app hr 
{
    width: 30%;
    height: auto;
    border: solid 2px;
}
.ReactTable,td 
{
    text-align: center !important;
}
    .rt-td
{
    text-align: center !important;
}